@import 'light-theme-colors';

.Theme__light {
  &, *:before, *:after {
    /* Color variables */
    --col-primary-main: #{$col-primary-main};
    --col-bg: #{$col-bg-default};
    --col-txt-primary: #{$col-txt-primary};
    --col-border: #{$col-bg-divider};

    /* UI variables */
    --ui-border: #{to-rem(1)} solid #{$col-bg-divider};
  }
}
