@import '@/styles/light-theme-colors';

@import '@/styles/variables';

/* stylelint-disable property-case */
/* stylelint-disable property-no-unknown */
/* stylelint-disable order/properties-order */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable declaration-empty-line-before */
:export {
  colLight: $col-light;
  colDark: $col-dark;

  colTxtPrimary: $col-txt-primary;
  colTxtSecondary: $col-txt-secondary;
  colTxtDisabled: $col-txt-disabled;

  colPrimaryLight: $col-primary-light;
  colPrimaryMain: $col-primary-main;
  colPrimaryDark: $col-primary-dark;

  colSecondaryLight: $col-secondary-light;
  colSecondaryMain: $col-secondary-main;
  colSecondaryDark: $col-secondary-dark;

  colErrorLight: $col-error-light;
  colErrorMain: $col-error-main;
  colErrorDark: $col-error-dark;

  colWarningLight: $col-warning-light;
  colWarningMain: $col-warning-main;
  colWarningDark: $col-warning-dark;

  colInfoLight: $col-info-light;
  colInfoMain: $col-info-main;
  colInfoDark: $col-info-dark;

  colSuccessLight: $col-success-light;
  colSuccessMain: $col-success-main;
  colSuccessDark: $col-success-dark;

  colBgDefault: $col-bg-default;
  colBgPaper: $col-bg-paper;
  colBgDivider: $col-bg-divider;

  colActionActive: $col-action-active;
  colActionHover: $col-action-hover;
  colActionSelected: $col-action-selected;
  colActionDisabledBg: $col-action-disabled-bg;
  colActionFocus: $col-action-focus;
  colActionDisabled: $col-action-disabled;
}
/* stylelint-enable property-case */
/* stylelint-enable property-no-unknown */
/* stylelint-enable order/properties-order */
/* stylelint-enable selector-pseudo-class-no-unknown */
/* stylelint-enable declaration-empty-line-before */
