@import '@/styles/variables';

/* stylelint-disable property-case */
/* stylelint-disable property-no-unknown */
/* stylelint-disable order/properties-order */
/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable declaration-empty-line-before */
:export {
  txtFontFamily: $txt-font-family;

  txtFontWeightLight: $txt-font-weight-light;
  txtFontWeightRegular: $txt-font-weight-regular;
  txtFontWeightMedium: $txt-font-weight-medium;
  txtFontWeightSemiBold: $txt-font-weight-semi-bold;
  txtFontWeightBold: $txt-font-weight-bold;

  txtFontSizeRegular: $txt-font-size-regular;

  txtFontSizeH1: $txt-font-size-h1;
  txtFontSizeH2: $txt-font-size-h2;
  txtFontSizeH3: $txt-font-size-h3;
  txtFontSizeH4: $txt-font-size-h4;
  txtFontSizeH5: $txt-font-size-h5;
  txtFontSizeH6: $txt-font-size-h6;
  txtFontSizeSubtitle1: $txt-font-size-subtitle1;
  txtFontSizeSubtitle2: $txt-font-size-subtitle2;
  txtFontSizeSubtitle3: $txt-font-size-subtitle3;
  txtFontSizeSubtitle4: $txt-font-size-subtitle4;
  txtFontSizeBody1: $txt-font-size-body1;
  txtFontSizeBody2: $txt-font-size-body2;
  txtFontSizeBody3: $txt-font-size-body3;
  txtFontSizeBody4: $txt-font-size-body4;
  txtFontSizeButton: $txt-font-size-button;
  txtFontSizeCaption: $txt-font-size-caption;
  txtFontSizeOverline: $txt-font-size-overline;

  txtFontLineHeightH1: $txt-font-line-height-h1;
  txtFontLineHeightH2: $txt-font-line-height-h2;
  txtFontLineHeightH3: $txt-font-line-height-h3;
  txtFontLineHeightH4: $txt-font-line-height-h4;
  txtFontLineHeightH5: $txt-font-line-height-h5;
  txtFontLineHeightH6: $txt-font-line-height-h6;
  txtFontLineHeightSubtitle1: $txt-font-line-height-subtitle1;
  txtFontLineHeightSubtitle2: $txt-font-line-height-subtitle2;
  txtFontLineHeightBody1: $txt-font-line-height-body1;
  txtFontLineHeightBody2: $txt-font-line-height-body2;
  txtFontLineHeightBody3: $txt-font-line-height-body3;
  txtFontLineHeightBody4: $txt-font-line-height-body4;
  txtFontLineHeightButton: $txt-font-line-height-button;
  txtFontLineHeightCaption: $txt-font-line-height-caption;
  txtFontLineHeightOverline: $txt-font-line-height-overline;

  txtFontLetterSpacingH1: $txt-font-letter-spacing-h1;
  txtFontLetterSpacingH2: $txt-font-letter-spacing-h2;
  txtFontLetterSpacingH3: $txt-font-letter-spacing-h3;
  txtFontLetterSpacingH4: $txt-font-letter-spacing-h4;
  txtFontLetterSpacingH5: $txt-font-letter-spacing-h5;
  txtFontLetterSpacingH6: $txt-font-letter-spacing-h6;
  txtFontLetterSpacingSubtitle1: $txt-font-letter-spacing-subtitle1;
  txtFontLetterSpacingSubtitle2: $txt-font-letter-spacing-subtitle2;
  txtFontLetterSpacingSubtitle3: $txt-font-letter-spacing-subtitle3;
  txtFontLetterSpacingSubtitle4: $txt-font-letter-spacing-subtitle4;
  txtFontLetterSpacingBody1: $txt-font-letter-spacing-body1;
  txtFontLetterSpacingBody2: $txt-font-letter-spacing-body2;
  txtFontLetterSpacingBody3: $txt-font-letter-spacing-body3;
  txtFontLetterSpacingBody4: $txt-font-letter-spacing-body4;
  txtFontLetterSpacingButton: $txt-font-letter-spacing-button;
  txtFontLetterSpacingCaption: $txt-font-letter-spacing-caption;
  txtFontLetterSpacingOverline: $txt-font-letter-spacing-overline;

  txtFontWeightH1: $txt-font-weight-h1;
  txtFontWeightH2: $txt-font-weight-h2;
  txtFontWeightH3: $txt-font-weight-h3;
  txtFontWeightH4: $txt-font-weight-h4;
  txtFontWeightH5: $txt-font-weight-h5;
  txtFontWeightH6: $txt-font-weight-h6;
  txtFontWeightSubtitle1: $txt-font-weight-subtitle1;
  txtFontWeightSubtitle2: $txt-font-weight-subtitle2;
  txtFontWeightSubtitle3: $txt-font-weight-subtitle3;
  txtFontWeightSubtitle4: $txt-font-weight-subtitle4;
  txtFontWeightBody1: $txt-font-weight-body1;
  txtFontWeightBody2: $txt-font-weight-body2;
  txtFontWeightBody3: $txt-font-weight-body3;
  txtFontWeightBody4: $txt-font-weight-body4;
  txtFontWeightButton: $txt-font-weight-button;
  txtFontWeightCaption: $txt-font-weight-caption;
  txtFontWeightOverline: $txt-font-weight-overline;
}
/* stylelint-enable property-case */
/* stylelint-enable property-no-unknown */
/* stylelint-enable order/properties-order */
/* stylelint-enable selector-pseudo-class-no-unknown */
/* stylelint-enable declaration-empty-line-before */
